@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Primary */
  --orange: #FB7413;

  /* Neutral */
  --black: #000000;
  --white: #FFFFFF;
  --light-grey: #959EAC;
  --medium-grey: #7C8798;
  --dark-blue: #252D37;
  --very-dark-blue: #121417;
}

* {
  font-family: 'Overpass', sans-serif;
}

html {
  background-color: var(--black);
  color: var(--white);
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}