@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Primary */
  --orange: #FB7413;

  /* Neutral */
  --white: #FFFFFF;
  --light-grey: #959EAC;
  --medium-grey: #7C8798;
  --dark-blue: #252D37;
  --very-dark-blue: #121417;
}

html {
  color: var(--white);
  font-family: 'Overpass', sans-serif;
}